In [1]:

# pip install neo4j

In [2]:
import neo4j

In [3]:
NEO4J_URI = "neo4j+s://514e2736.databases.neo4j.io"
NEO4J_USER = "neo4j"
NEO4J_PASSWORD = "wUdAUHgzqMwMgU4ZYz1khyERM-q4z_QzjKkBL4r-l7w"

driver = neo4j.GraphDatabase.driver(NEO4J_URI, auth=(NEO4J_USER, NEO4J_PASSWORD))

In [4]:
CYPHER_QUERY = """
MATCH (n) RETURN COUNT(n) AS node_count
"""

In [5]:
def get_node_count(tx):
    results = tx.run(CYPHER_QUERY)
    df = results.to_df()
    return df

In [6]:
with driver.session() as session:
    df = session.execute_read(get_node_count)

In [7]:
df

   node_count
0      195890